<div class="row custm-view custm-bg-medium">
  <div class="row custm-toolbar custum-bg-light">

    <nav aria-label="breadcrumb" class="navbar navbar-expand-lg" style="width:100%; height:2rem;">

      <div class="collapse navbar-collapse">
        <ol class="breadcrumb navbar-nav" >
        </ol>
        <!-- COMMAND -->
        <div class="custm-command" style="width:100%">
          <!-- <button class="custm-btn-circle-span shadow-sm rounded" (click)="maj()"><i class="material-icons custm-ft-neutral custm-btn-icon">update</i><span style="margin-left:0.5rem;">Update course</span></button>
          <button class="custm-btn-circle-span shadow-sm rounded" (click)="run()"><i class="material-icons custm-ft-neutral custm-btn-icon">launch</i><span style="margin-left:0.5rem;">Run</span></button> -->
        </div>
        <!-- END COMMAND -->
      </div>
    </nav>

  </div>
  <!-- CONTENT -->
  <div class="container custm-game-content">
    <div *ngIf="!noCard">

      <div class="row custm-card custm-bg-neutral shadow-sm">
        <p class="custm-card-label custm-ft-sz-big custm-bg-light"><Label [code_label]="currentSet.from.code_label"></Label></p>
        <hr>
        <p class="custm-card-value custm-ft-sz-med">{{currentSet.from.value}}</p>
      </div>
      <div class="row custm-card custm-bg-neutral shadow" style="margin-top:3rem;" (click)="next()">
        <p class="custm-card-label custm-ft-sz-big custm-bg-light"><Label [code_label]="currentSet.to?.code_label"></Label></p>
        <hr *ngIf="getAnswer">
        <p class="custm-card-value custm-ft-sz-med" *ngIf="getAnswer">{{currentSet.to.value}}</p>
      </div>
      <div class="row justify-content-around" style="margin-top: 1rem;" *ngIf="getAnswer">
        <button type="button" class="btn btn-danger" style="width: 18rem; height:4rem;" (click)="scoring('lose')">Lose</button>
        <button type="button" class="btn btn-secondary" style="width: 6rem; height:3rem; margin-top:0.5rem;" (click)="recallStatus(false)">Suspend</button>
        <button type="button" class="btn btn-success" style="width: 18rem; height:4rem;" (click)="scoring('win')">Win</button>
      </div>

    </div>
    <div *ngIf="noCard">

      <div class="row custm-card custm-bg-neutral shadow-sm">
        <p class="custm-card-label custm-ft-sz-big custm-bg-flash">Not Enough card to play ! </p>
      </div>

    </div>
  </div>

</div>
